.card-label__container {
	position: absolute;
	bottom: 5.625rem;
	right: 0;
}

.card-label__content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0d0d0d;
	color: white;
	font-size: 0.75rem;
	font-family: 'Segoe UI', sans-serif;
	font-weight: bold;
	height: 2.5rem;
	padding: 0 3.125rem;
}
